{% extends 'shared/base.html.twig' %}

{% block title %}Public Inscription{% endblock %}

{% block body %}
  <main class="container">
    <div class="card">
      <div class="card-header">
        <h2>Public Inscription</h2>
      </div>

      <div class="card-body">
        {{ form(form) }}
      </div>
    </div>
  </main>
{% endblock %}
