{% extends 'shared/base.html.twig' %}

{% block title %}Public Home{% endblock %}

{% block body %}
  <main class="container">
    <div class="card">
      <div class="card-header">
        <h2>Public Home</h2>
      </div>

      <div class="card-body">
        {% if msg is defined and msg %}
          <div class="alert alert-success">{{ msg }}</div>
        {% endif %}

        <h3>Symfony</h3>

        <span>Output: <strong id="angularOutput">Cliquez sur Emit pour récupérer du contenu d'Angular</strong></span>

        <hr>

        <app-test id="angularTest" input="Hello Angular from Symfony"></app-test>
      </div>
    </div>
  </main>
{% endblock %}

{% block scripts %}
  <script>
    const angularOutput = document.getElementById('angularOutput');
    const angularTest = document.getElementById('angularTest');

    angularTest.addEventListener('output', e => {
      angularOutput.innerText = e.detail;
    });
  </script>
{% endblock %}
