{% extends 'front/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  <main class="container">

    {% if msg is defined and msg %}
      <div class="alert alert-success">{{ msg }}</div>
    {% endif %}

    <div class="card">
      <div class="card-header">
        <h2>Admin</h2>
      </div>

      <div class="card-body">

      </div>
    </div>

  </main>

{% endblock %}

{% block scripts %}
{% endblock %}
