{% extends 'front/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <main class="container">

    {% if msg is defined and msg %}
      <div class="alert alert-success">{{ msg }}</div>
    {% endif %}

    <div class="card">
      <div class="card-header">
        <h2>Demo Angular Elements</h2>
      </div>

      <div class="card-body">
        <p>
          <strong id="angularOutput">Cliquer sur Emit pour récupérer le contenu d'Angular</strong>
        </p>

        <hr>

        <app-test id="angularTest" input="Hello Angular from Symfony"></app-test>
      </div>
    </div>

  </main>
{% endblock %}

{% block scripts %}
  <script>
    const angularOutput = document.getElementById('angularOutput');
    const angularTest = document.getElementById('angularTest');

    angularTest.addEventListener('output', e => {
      angularOutput.innerText = e.detail;
    });
  </script>
{% endblock %}
